* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
#container {
  width: 95%;
  margin: 0 auto;
}
header {
  background-color: aquamarine;
  height: 20%;
  display: flex;
  border-bottom: 2px solid black;
}
#game-title-div {
  background-color: white;
  flex-grow: 3;
  border-bottom: 15px black solid;
}
#game-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#game-logo-div img {
  width: 5.2rem;
}
#game-logo-div h1 {
  margin-left: 10px;
  font-size: 5rem;
}
#game-description-div {
  position: relative;
  bottom: 0;
  margin-left: 1rem;
}

#game-description-div button {
  font-size: 2rem;
  padding: 0.2rem;
  border: 4px solid black;
  background-color: crimson;
  color: white;
  border-radius: 5px;
  transition-property: all;
  transition-delay: 100ms;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}
#game-description-div button:hover {
  cursor: pointer;
  border: 4px solid black;
  background-color: white;
  color: crimson;
}

#game-description-div button:focus {
  outline: none;
}
#game-description-div span {
  position: absolute;
  z-index: 1000;
  left: 0;
  background-color: black;
  color: crimson;
  padding: 0.6rem;
  font-size: 1.1rem;
  font-weight: 500;
  width: 99%;
  /* height: 100%; */
}
#game-score-div {
  background: black;
  color: whitesmoke;
  padding: 1rem;
  flex-grow: 1;
  border-top: 15px white solid;
}
#container {
  height: 100vh;
}
#card-grid {
  padding: 2rem;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  justify-items: center;
  align-items: center;
}
/* card */
/* innercontainer */
.card {
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.card-content {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: black;
  border-radius: 5px;
  color: aliceblue;
}
/* loook at some animations bud */
.card-content:hover {
  cursor: pointer;
  background-color: gray;
  color: black;
}
/* face / front and back*/

/* .face {
} */

/* front face */
.card-front {
  height: 100%;
  width: 100%;
}
.card-img {
  width: 100%;
  height: 90%;
  border-radius: 5px;
  background-color: rgb(66, 184, 184);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-caption {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* back face */
/* .card-back {
} */
